In [31]:
# Task 1: Declare Variables with Naming Conventions
camelCaseVariable = "Camel Case"
snake_case_variable = "Snake Case"
print(camelCaseVariable)
print(snake_case_variable)

Camel Case
Snake Case

In [33]:
# Task 2: Declare a Constant and Use in Calculation
PI = 3.14159
radius = 7
circumference = 2 * PI * radius
print("Circumference:", circumference)

Circumference: 43.98226

In [35]:
# Task 3: List Operations
items = ["Apple", "Banana", "Cherry", "Date", "Elderberry"]
print("First:", items[0])
print("Last:", items[-1])
items[2] = "Coconut"
items.append("Fig")
print(items)

First: Apple
Last: Elderberry
['Apple', 'Banana', 'Coconut', 'Date', 'Elderberry', 'Fig']

In [37]:
# Task 4: Sum of Two Numbers
num1 = 10
num2 = 20
print("Sum:", num1 + num2)

Sum: 30

In [39]:
# Task 5: Area of a Circle 
radius = 5
area = 3.14159 * radius ** 2
print("Area of Circle:", area)

Area of Circle: 78.53975

In [41]:
# Task 6: Area of a Rectangle
length = 10
width = 5
area = length * width
print("Area of Rectangle:", area)

Area of Rectangle: 50

In [43]:
# Task 7: Area of a Triangle
base = 8
height = 6
area = (base * height) / 2
print("Area of Triangle:", area)

Area of Triangle: 24.0

In [45]:
# Task 8: Simple Calculator
num1 = 15
num2 = 3
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)

Addition: 18
Subtraction: 12
Multiplication: 45
Division: 5.0

In [47]:
# Task 9: Assignment Operators
value = 10
print("Initial:", value)
value += 5
print("After +=:", value)
value -= 2
print("After -=:", value)
value *= 3
print("After *=:", value)
value /= 4
print("After /=:", value)

Initial: 10
After +=: 15
After -=: 13
After *=: 39
After /=: 9.75

In [49]:
# Task 10: Increment and Decrement Operators
num = 50
num += 10
print("After increment:", num)
num -= 5
print("After decrement:", num)

After increment: 60
After decrement: 55

In [51]:
# Task 11: Comparison Operators
a = 25
b = 30
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [53]:
# Task 12: Logical Operators
x = True
y = False
print("x and y:", x and y)
print("x or y:", x or y)
print("not x:", not x)

x and y: False
x or y: True
not x: False

In [55]:
# Task 13: Swap Two Variables
a = 5
b = 10

# Using third variable
temp = a
a = b
b = temp
print(a, b)

# Without third variable
a, b = b, a
print(a, b)

10 5
5 10

In [57]:
# Task 14: Average of Given Numbers
num1 = 10
num2 = 20
num3 = 30
average = (num1 + num2 + num3) / 3
print("Average:", average)

Average: 20.0

In [59]:
# Task 15: Compound Arithmetic Operation
a = 10
b = 30
c = 12
d = 3
result = (a + b) * c / d
print("Result:", result)

Result: 160.0

In [61]:
# Task 16: Store 10th Grade Marks, Calculate Total and Average
tamil = 85
english = 90
maths = 95
science = 88
social = 92
total = tamil + english + maths + science + social
average = total / 5
print("Total Marks:", total)
print("Average Marks:", average)

Total Marks: 450
Average Marks: 90.0