In [1]:
# 1. Hello World
print("Hello, World!")

Hello, World!

In [3]:
# 2. Print Your Name
print("Aflah")

Aflah

In [5]:
# 3. Print Name and Age on Separate Lines
print("Aflah")
print(21)

Aflah
21

In [9]:
# 4. Declare and Use Different Data Types
name = "Aflah"
age = 21
height = 5.9
is_student = True

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: Aflah
Age: 21
Height: 5.9
Is Student: True

In [11]:
# 5. String Concatenation
print("Hello, my name is " + name + " and I am " + str(age) + " years old.")
print("Hello, my name is {} and I am {} years old.".format(name, age))
print(f"Hello, my name is {name} and I am {age} years old.")

Hello, my name is Aflah and I am 21 years old.
Hello, my name is Aflah and I am 21 years old.
Hello, my name is Aflah and I am 21 years old.

In [13]:
# 6. Declare and Print Variables
my_name = "Aflah"
my_age = 21
print(my_name)
print(my_age)

Aflah
21

In [15]:
# 7. Perform Mathematical Operations
num1 = 10
num2 = 5

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [17]:
# 8. Declare and Print a List
fruits = ["Apple", "Banana", "Cherry", "Mango"]
for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
Mango

In [19]:
# 9. Print a Simple Pattern
for i in range(1, 5):
    print('*' * i)

*
**
***
****

In [25]:
# 10. Declare and Modify Variables
name = "Aflah"
age = 21
is_student = True

In [23]:
# 11. Print and Modify Variable Values
print(name)
print(age)
print(is_student)

name = "Aflah Rahman"
age += 1
is_student = not is_student

print(name)
print(age)
print(is_student)

Aflah
21
True
Aflah Rahman
22
False

In [27]:
# 12. Store and Print Personal Details
name = "Aflah"
age = 21
dob = "19-09-2003"
height = 5.9
weight = 79.5
degree = "B.E CSE"
gender = "Male"

print("Name:", name)
print("Age:", age)
print("Date of Birth:", dob)
print("Height:", height)
print("Weight:", weight)
print("Degree:", degree)
print("Gender:", gender)

Name: Aflah
Age: 21
Date of Birth: 19-09-2003
Height: 5.9
Weight: 79.5
Degree: B.E CSE
Gender: Male